<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm swapnil buchke</h1>
		<p>Welcome to my blog created on rails</p>
		<p>I built a blog in Rails 5.1.4.</p>
		<p>If you'd like to follow me. find me on facebook <a href="http://facebook.com">@swapnilbuchke</a></p>
	</div>
</div>
